.container {
   display: flex;
   flex-direction: column;
   gap: 10px;
 }
 
 .matchCard {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
   background-color: #161616;
   border-radius: 8px;
 }
 
 .matchHeader {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .teamsContainer {
   display: flex;
   justify-content: space-between;
   width: 300px;
 }
 
 .team {
   display: flex;
   flex-direction: row;
   align-items: center;
 }
 
 .matchInfo {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .vs {
   font-weight: bold;
 }
 

 
